<div class="list-group">
    {% for category in categories %}
        <a href="{{ path('products_list', { 'id': category.id }) }}" class="list-group-item">
            <span class="badge">{{ category.products|length }}</span>
            {{ category.name }}
        </a>
    {% endfor %}

</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">W koszyku posiadasz</div>
    <table class="table-bordered">
        <tbody>
            {% set i = 1 %}
            {% for product in basket.products %}

                <tr>
                    <td colspan="2">{{ i }}. {{ product.name }}</td>                    
                </tr>
                {% set i = i + 1 %}
            {% endfor %}
            <tr>
                <td>WARTOŚĆ</td>
                <td>{{ basketvalue }} zł</td>
            </tr>
            
        </tbody>
    </table>
</div>