<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Strona główna{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="wrapper" style="width:960px; margin:auto">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="{{ path('homepage') }}">Strona główna</a></li>
            <li role="presentation"><a href="{{ path('products_list') }}">Produkty</a></li>
            <li role="presentation"><a href="{{ path('basket') }}">Koszyk</a></li>
        </ul>
        
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
        {% endfor %}
        
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        {% endblock %}
    </div>
    </body>
</html>
